
<ion-content>
  
  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed" color="warning" >
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
  </ion-fab>


<div id="map_canvas">
 <ion-fab
        vertical="bottom"
        horizontal="start"
        slot="fixed"
        size="small"
        color="primary" >
    <ion-fab-button (click)="onButtonClick()">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>   
</div>
</ion-content>
