<ion-content>
  <ion-avatar> <img src="../../assets/img/caraid.jpg" ></ion-avatar>
  <h1 text-center>PERFIL</h1>
<h2>NOMBRE: MACHADO GOMEZ        							JULIAN ANDRES
    CEDULA: 1´153.546.358 
    EXPEDIDA :BOGOTA
              (CUNDINAMARCA)
              FECHA DE 
NACIMIENTO : 1994-05-20
ESTATURA : 1.73
FECHA DE
EXPEDICIÓN  : 2012-09-06
sexo  : Masculino

  recuerde que si esta en peligro comuniquese a la linea de emergerncia 123 para que lo protejan.</h2>
<ion-button class="botonSig" expand="round" fill="outline"[routerLink]="['/maps']" routerLinkActive="router-link-active"  >Siguiente </ion-button>

</ion-content>
